/* NORMALIZE */
@import "_vars";
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { 
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	}

/* HTML5 display-role reset for older browsers */
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section { 
	display: block 
	}

body { 
	margin: 0px;
	padding: 0px;
	}

blockquote, q { 
	quotes: none;
	}

blockquote:before, blockquote:after { 
	content: "";
	content: none;
	}

q:before, q:after { 
	content: "";
	content: none;
	}

table {
	border-collapse: collapse ;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	}

html { 
	height: 100%;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	}

input, textarea { 
	color: #333;
	outline: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-webkit-appearance: none
	}

input[type="button"], input[type="submit"] { 
	cursor: pointer;
	-webkit-appearance: none;
	outline: none
	}

button { 
	cursor: pointer;
	-webkit-appearance: none;
	outline: none
	}

td, form { 
	margin: 0px;
	padding: 0px
	}

a {
	color: #000100;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	text-decoration: none;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
	}	

* { 
	-webkit-box-sizing: border-box;
	box-sizing: border-box
	}
*:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
	}

.clearfix:after { 
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}

input::-webkit-input-placeholder {
  color: $placeholder;
  font-size: rem(14);
}
input::-moz-placeholder {
  color: $placeholder;
  font-size: rem(14);
}
input:-moz-placeholder {
  color: $placeholder;
  font-size: rem(14);
}
input:-ms-input-placeholder {
  color: $placeholder;
  font-size: rem(14);
}
textarea::-webkit-input-placeholder {
  color: $placeholder;
  font-size: rem(14);
}
textarea::-moz-placeholder {
  color: $placeholder;
  font-size: rem(14);
}
textarea:-moz-placeholder {
  color: $placeholder;
  font-size: rem(14);
}
textarea:-ms-input-placeholder {
  color: $placeholder;
  font-size: rem(14);
}
input:focus, textarea:focus{
    border-color: #2172a2 !important;
}

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 6px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  height: 50px;
  box-shadow: 0px 1px 1px #fff inset;
  background-color: #EFEFEF;
  z-index: 999;
  background-image: url("../img/polsun.png");
  background-position: center;
  background-repeat: no-repeat;
}
::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 8px;
  height: 0px;
}
::-webkit-scrollbar {
  width: 11px;
}
body { 
    font-family: $font-name, Tahoma, sans-serif;
    line-height: 1.4rem;
    background-color: #ffffff;
    height: 100%;
    position: relative;
    font-size: rem(16);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}
.ttl{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    h1{
        font-size: rem(42);
        font-weight: 900;
        line-height: rem(45);
    }
    h2{
        font-size: rem(22);
        font-weight: bold;
    }
    h3{
        font-size: rem(20);
        font-weight: bold;
    }
    h4{
        font-size: rem(18);
        font-weight: 600;
    }
    h5{
        font-size: rem(16);
        font-weight: 600;
    }
    h6{
        font-size: rem(14);
        font-weight: 600;
    }
}
.btn{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    button{
        font-size: rem(16);
        font-weight: 600;
    }
}

.mb{
    margin-top: $mb;
}
.mt{
    margin-top: $mt;
}