$bg-color:rgba(26,129,0,0.6);
$wt:#fff;
$bk:#000;
$accent-color:#3aa2cc;
$link-color:#00f;
$ttl-fz:22;
$fz:16;
$btn-color: #CD4F0A;
$box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
$browser-context: 16; // Default
$dir:'../fonts/';
$Cbk: 'Circe-ExtraBold';
$Cb: 'Circe-Bold';
$Cl: 'Circe-Light';
$C: 'Circe-Regular';
$Db: 'DINPro-CondensedBold';
$CN: 'Circe';
$font-name: $CN;
$DN: 'DIN Pro';
$normal: normal;
$italic: italic;
$bold: bold;
$semibold: 600;
$medium: 500;
$heavy: 800;
$black: 900;
$light: 300;
$mt:88px;
$mb:45px;
$placeholder: #000;
@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem;
    //font-size: rem(VAR);
}
@mixin font($fontname, $fweight, $fstyle, $fontfamily){
    @font-face {
        font-family: $fontfamily;
        src: url($dir+$fontname+'.eot');
        src: url($dir+$fontname+'.eot') format("eot"),
             url($dir+$fontname+'.ttf') format("truetype");
        font-weight: $fweight;
        font-style: $fstyle;
    }
}
@mixin trans(){
    transition: all 0.4s;
}
@include font($Cbk, $black, $normal, $CN);
@include font($Cb, $bold, $normal, $CN);
@include font($Cl, $light, $normal, $CN);
@include font($C, $normal, $normal, $CN);
@include font($Db, $bold, $normal, $DN);
